:root {
    --blue-color: #7fcbc9;
    --border-color: #e8e8e8;
    --font-size: 1.8rem;
}

* {
    box-sizing: border-box;
}

input {
    outline: none;
    border: none;
}

p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

html {
    font-size: 62.5%;
}
